<div class='row'>
    <div class='col s12 center-align'>
        <%# <h2>Challenges</h2> %>
        <% @scores.each do |score| %>
            <%# how to access the actual team names? %>
            <h2> Team <%= score.student_id %> Score: <%= score.team_score %> </h2> 
        <% end %>
    </div>
</div>

<div class="row">
    <% @courses.each do |course| %>
        <div class="col s6 m6">
            <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <h1><%=course.name%></h1>
                <%# <p><%=course.description%></p> 
                <h4> Points: <%=course.challenge_points%></h2>
            </div>
            <div>
                <%# Team One Completed? <%=course.student_courses%> <%# needs to go in controller
                <%# Team Two Completed? <%=course.find(params[:course_id]).student_courses.student_id = 2%>
                
            </div>
            <div class="card-action">
                <%# #if logged_in and the current user already is enrolled in the course %>
                <% if logged_in? && !(current_user.courses.include?(course))%> 
                <%# have to specify method post (not using a form for helper) %>
                    <h2><%= link_to "Done", course_enroll_path(course_id: course.id), method: :post %></h2> <%# passing in course_id param (one of the keys in the params hash) and the value of the id of the course%>
                    <h2><%= link_to "Edit", edit_course_path(course)%></h2>
                <% end %>
                    <%# <h2><%= link_to "Undo", course_destroy_path(course_id: course.id), method: :delete %><%# not working, controller not functioning. passing in course_id param (one of the keys in the params hash) and the value of the id of the course%>

                    <%# <a href="#">Complete</a> %>
                    <%# <%= link_to 'download via link_to', 'file.txt', download: '' %>
                    <%# <a href="file.txt" download>Download via a href</a> %>
                    <%# <%= link_to "download with download_pdf_path", download_pdf_path %>
            </div>
            </div>
        </div>
    <%end%>
</div>