<div class='row'>
    <div class='col s12 center-align'>
        <h3>Challenges</h3>
        <% @scores.each do |score| %>
            <%# how to access the actual team names? %>
            <h6> Team <%= score.student_id %> Score: <%= score.team_score %> </h6> 
        <% end %>
    </div>
</div>

<div class="row">
    <% @courses.each do |course| %>
        <div class="col s4 m4">
            <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title"><%=course.name%></span>
                <%# <p><%=course.description%></p> 
            </div>
            <div>
                <%# Team One Completed? <%=course.student_courses%> <%# needs to go in controller
                <%# Team Two Completed? <%=course.find(params[:course_id]).student_courses.student_id = 2%>
                Challenge Points: <%=course.challenge_points%>
            </div>
            <div class="card-action">
                <%# #if logged_in and the current user already is enrolled in the course %>
                <% if logged_in? && !(current_user.courses.include?(course))%> 
                <%# have to specify method post (not using a form for helper) %>
                    <%= link_to "Complete", course_enroll_path(course_id: course.id), method: :post %> <%# passing in course_id param (one of the keys in the params hash) and the value of the id of the course%>
                <% end %>
                    <%# <a href="#">Complete</a> %>
                    <%# <%= link_to 'download via link_to', 'file.txt', download: '' %>
                    <%# <a href="file.txt" download>Download via a href</a> %>
                    <%# <%= link_to "download with download_pdf_path", download_pdf_path %>
            </div>
            </div>
        </div>
    <%end%>
</div>