<h1>Create a new challenge!</h1>

<div class="container">
    <div class="row center sign-up-form">
        <div class="row center">
            <div class="col s12 m12 l12">
                <div class="card-panel">
                    <div class="row"> 
                        <%= form_for(@challenge, html: {class: "col s12"}) do |f| %>
                            <div class="row">
                                <div class= "input-field col s12">
                                    <%= f.text_field :name, placeholder: "Challenge Title", autofocus: true %>
                                    <%= f.label :name, class: "active" %>
                                </div>
                            </div>

                            <div class="row">
                                <div class= "input-field col s12">
                                    <%= f.text_field :description, placeholder: "Challenge Description", autofocus: true %>
                                    <%= f.label :description, class: "active" %>
                                </div>
                            </div>

                            <div class="row">
                                <div class= "input-field col s12">
                                    <%= f.number_field :challenge_points, placeholder: "Challenge Points", autofocus: true %>
                                    <%= f.label :challenge_points, class: "active" %>
                                </div>
                            </div>

                            <div class="row">
                                <div class= "input-field col s12">
                                    <% f.number_field :team_id %>
                                </div>
                            </div>
                            <%# #unsure if this is needed, not working currently %>
                            <div class="row">
                                <div class= "input-field col s12">
                                    <%= f.submit "Submit" %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>