<header>
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
    <li><%= session_link %></li>
    <% if logged_in? %>
        <li><%= link_to "View your profile", student_path(current_user)%></li>
    <% end %>
    <li class="divider"></li>
 
    </ul>
    <ul id="dropdown2" class="dropdown-content">
    <li><%= session_link %></li>
    <% if logged_in? %>
        <li><%= link_to "View your profile", student_path(current_user) %></li>
    <% end %>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
    </ul>
    <nav>
    <div class="container">
        <div class="nav-wrapper">
        <%= link_to "Challenges", root_path, class: "brand-logo right" %>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><%= link_to 'Challenges', root_path %></li>
            <% if logged_in? %>
                <li><%= link_to 'Users', students_path %></li>
            <% end %>
            <li><%= link_to 'New Challenges', courses_new_path %></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Account<i class="material-icons right"></i></a></li>
        </ul>
        <ul class="sidenav" id="mobile-demo">
            <li><%= link_to "Challenges", root_path%></li>
            <%# <li><a href="#">Enrollment</a></li>
            <li><a href="#">Account</a></li> 
            <li><a class="dropdown-trigger2" href="#!" data-target="dropdown2">Account<i class="material-icons right"></i></a></li> %>
        </ul>
        </div>
    </div>
    </nav>
    <% flash.each do |key, message|%>
        <div class = "container">
            <div class= "row sign-up-form">
                <div class="col s12 m12 l12">
                    <div class="card-panel red lighten-2" id="fade-out-target">
                        <span class= "white-text">
                            <%= message %>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    </header>